
html, body {

  margin:0;
  padding:0;
  height:100%;
  width: 100%;
}

#index h2, h5 {
  text-align: center;
  margin-top: 20px;
}

/* Style inputs */
#index input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#index .card {
  margin-top: 5px;
}

#index svg {

  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  color: green;
}

#plus {
  cursor: pointer;
}

/*a {
  cursor: pointer;
}*/

.card {
  cursor: pointer;
}

/* Style the submit button */
#index input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#index .container {
  display: flex;
  justify-content: center;
}



.sidebar {
  height: 100%;
  overflow-y: scroll;
  width: 20%;
  float: left;
  background-color: white;
}

.card table {
  text-align: right;

}

.join {

  color: blue;
  pointer-events: stroke;
}


#index .textbox {
  float: right;
  position: fixed;
  bottom: 2%;
  width: 100%;
  margin-right: 5px;
  padding-right: 5px;
}

textarea {

  width: 70%;
  height: 75px;
  float: right;
  resize: none;
  word-wrap: normal;
  overflow: auto;
  display: grid;
  justify-content: flex-end;
  clear: both;

}

#post {

  float: right;
  margin-right: 3px;
}

#create {
  cursor: pointer;
}

.modal-content {
  overflow-y: scroll;
}

#index a {
  cursor: pointer;
}

#index {

  background-color: lavender;
}

#index button[type=submit] {
  background-color: #ffd557;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

#index button[type=submit]:hover {
  background-color: #fade8c;
  cursor: pointer;
}

#index form {
  margin-top: 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
